[{boss, [
    {path, "/home/littleq/opt/ChicagoBoss"},
    {applications, [cb_admin, sschat]},

    {db_host, "localhost"},
    {db_port, 27017},
    {db_adapter, mongodb},
    {db_database, sschat_test},

    {log_dir, "log"},

    {server, cowboy},
    {port, 8001},

    {session_adapter, mock},
    {session_key, "_boss_session"},
    {session_exp_time, 525600}
]},
{cb_admin, [
    {path, "/home/littleq/opt/cb_admin"},
    {allow_ip_blocks, ["127.0.0.1"]},
    {base_url, "/admin"}
]},
{sschat, [
    {path, "../sschat"},
    {base_url, "/"}
]}
].
