{plugin_dir, ["priv/rebar"]}.
{lib_dirs, [".", "./src"]}.
{plugins, [boss_plugin]}.
{eunit_compile_opts, [{src_dirs, ["src/test"]}]}.
{deps_dir, "deps"}.
{deps, [
{boss, ".*", {git, "git://github.com/evanmiller/ChicagoBoss.git", "0.8-maint"}},
{uuid, ".*", {git, "git://github.com/avtobiff/erlang-uuid.git", "master"}},
{jsx, ".*", {git, "git://github.com/talentdeficit/jsx.git", "master"}}
]}.
